.login_form{
    padding: 1rem;
    box-shadow: 0 0 10px #000;
}

.sign_in_button{
    display: block;
    margin: auto;
    width: 100px;
    padding: 5px 5px;
    background: #23a423;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    font-size: 1.4rem;
    font-weight: bold;
}

.sign_in_button:hover{
    background: #176917;
}